<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css", integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", crossorigin="anonymous")
        title=title
    body
        h1=title
        =data._id
        form(action=`/user/${data._id}/update?_method=PUT`, method="post")
            label(for="item") Item: 
            input(type="text", name="item", value=data.item)
            br
            label(for="qty") Qty: 
            input(type="number", name="qty", value=data.qty)
            br            
            label(for="status") Status: 
            input(type="text", name="status", value=data.status)
            br
            label(for="size") Size
                br
                label(for="w") w: 
                input(type="number", name="w", value=data.size.w)
                br
                label(for="h") h: 
                input(type="number", name="h", value=data.size.h)
                br
                label(for="uom") uom: 
                input(type="text", name="uom", value=data.size.uom)
                br
            button(value="submit") Edit
