<!DOCTYPE html>
html(lang="en")
    headstylesheet
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css", integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", crossorigin="anonymous")
        title=title
    body
        h1 User,  
            =data.username
        table(border="1")
            tr
                th(width="100px") attr
                th value
            tr
                td ID
                td=data.user_id
            tr
                td Name
                td=data.fullname
            tr
                td Age
                td=data.age
            tr
                td Email
                td=data.email
            tr
                td Avatar
                td
                    img(src=`/images/${data.avatar}`, width="100px", height="100px")
            tr
                td Bio
                td  H:
                    =data.bio.h
                    br
                    |W:
                    =data.bio.w
            tr
                td Status
                td=data.status
