<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Product</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(function(product) { %>
                <tr>
                    <td><%= product.name %></td>
                    <td><%= product.price %></td>
                    <td><a href="/products/<%= product.id %>/edit">edit</a></td>
                    <td><a href="/products/<%= product.id %>">detail</a></td>
                    <td>
                        <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
                            <button type="submit">delete</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
